<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>糖尿病常识建议</title>
	<link rel="stylesheet" href="../static/cdn/bootstrap.min.css">
	<script src="../static/cdn/jquery-2.1.1.min.js"></script>
	<script src="../static/cdn/bootstrap.min.js"></script>
</head>
<style>
    body {
        font-size: 18px;
    }
    h2 {
        font-size: 24px;
    }
</style>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" >&nbsp;糖尿病预测</a>
        </div>
        <div>
            <ul class="nav navbar-nav" style="font-size:20px">
                <li ><a href="/index.html">主页</a></li>
                <li><a href="/tnb.html">查询</a></li>
                <li><a href="/pred.html">预测</a></li>
                <li><a href="/dashboard.html">训练</a></li>
                <li><a href="/screen.html">大屏</a></li>
                <li><a href="/log.html">历史日志</a></li>
                <li class="active"><a href="/sug.html">建议</a></li>
            </ul>
        </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">糖尿病治疗指南</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
<h2>饮食习惯</h2>
<ul>
    <li>控制糖分摄入，避免高糖食物，如糖果和甜点。</li>
    <li>增加蔬菜和水果的摄入，多选择绿叶蔬菜和低糖水果。</li>
    <li>选择全谷类食物，如全麦面包和糙米，替代白米和白面包。</li>
    <li>控制饮食中的饱和脂肪，选择健康脂肪来源，如橄榄油和鱼油。</li>
    <li>分餐进食，避免暴饮暴食，维持饮食规律性。</li>
    <li>限制盐的摄入量，选择低钠食品，有助于控制血压。</li>
    <li>饮食多样化，搭配多种食物，保证营养均衡。</li>
</ul>
            </div>
            <div class="col-md-6">
<h2>饮食建议</h2>
<ul>
    <li>餐前测试血糖，了解餐后血糖反应，合理控制饮食。</li>
    <li>遵循“少油、少盐、少糖”的原则，选择清淡口味的食物。</li>
    <li>控制饮酒，避免过量饮酒对血糖的不良影响。</li>
    <li>增加膳食纤维摄入，如蔬菜、水果和全谷类，有助于血糖稳定。</li>
    <li>饮食过程中细嚼慢咽，有助于消化和饱腹感。</li>
    <li>饮食计划要有规律，不要随意更改饮食结构和时间。</li>
    <li>饮食要根据体质和疾病情况进行调整，避免过度节食或暴饮暴食。</li>
</ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <h2>运动建议</h2>
<ul>
    <li>每天坚持适量运动，如散步、慢跑或骑行，有助于提高代谢率。</li>
    <li>避免长时间久坐，每隔一段时间站起来活动一下，促进血液循环。</li>
    <li>参加有氧运动课程，如瑜伽或游泳，有助于提升心肺功能。</li>
    <li>增加肌肉训练，如举重或俯卧撑，有助于提高肌肉质量。</li>
    <li>运动前进行热身活动，如拉伸和轻度运动，预防运动损伤。</li>
    <li>注意运动后的饮水量，避免脱水和肌肉疲劳。</li>
    <li>定期检查身体状况，根据医生建议调整运动计划和强度。</li>
</ul>
            </div>
            <div class="col-md-6">
                <h2>家属建议</h2>
<ul>
    <li>了解糖尿病患者的饮食和药物情况，给予关心和支持。</li>
    <li>与糖尿病患者共同制定健康饮食计划，营造良好的饮食环境。</li>
    <li>协助糖尿病患者进行运动，建立健康的生活方式。</li>
    <li>家庭成员要学习糖尿病的常识，定期进行健康检查。</li>
    <li>避免给糖尿病患者带来压力和焦虑，保持积极乐观的心态。</li>
    <li>家庭饮食要健康多样化，少食高糖高脂肪食物。</li>
    <li>家庭成员要学会紧急救护措施，以备不时之需。</li>
</ul>
            </div>
        </div>
    </div>
</body>
</html>
